@import 'tailwindcss';

@theme {
  --color-primary-darkest: #181735;
  --color-primary-dark: #282455;
  --color-primary: #363766;
  --color-primary-light: #7877a7;
  --color-primary-lightest: #9e9bd3;
  --color-text: #f0f0ff;
  --color-text-muted: #ada9d4;
  --color-secondary: #ff5a5a;
}

@layer base {
  @font-face {
    font-family: 'GalmuriMono11';
    src: url('/font/GalmuriMono11.woff2') format('woff2');
    font-display: swap;
  }

  html {
    font-family: 'GalmuriMono11', sans-serif;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #181735;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #363766;
  border-radius: 4px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #7877a7;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #363766 #181735;
}

::-webkit-scrollbar-corner {
  background: #181735;
}
